@using Vidly.Models
@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Release Date :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            Date Added :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            Stock :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberInStock) unidades disponibles
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole(RoleName.CanManageMoviesRole))
    {
        @Html.ActionLink("Edit this Movie", "Edit", new {id = Model.Id}) 
        <span>-</span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
